<main id="main" class="main">

    <div class="pagetitle">
        <h1>My Order</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">My Order</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
   
    <section>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12" id="divGrid">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="exampledatatable"
                                                   class="table table-bordered exampledatatable no-footer dtr-inline dataTable" cellspacing="0"
                                                   role="grid" style="width: 100%; background-color: rgb(235, 243, 249); margin-bottom: 0px;"
                                                   aria-describedby="exampledatatable_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th width="5%" data-nosearchtext="no" class="no-sort notexport sorting_disabled"
                                                            rowspan="1" colspan="1" aria-label="Action" style="width: 122px;">Action</th>
                                                        <th width="10%" class="sorting" tabindex="0" aria-controls="exampledatatable" rowspan="1"
                                                            colspan="1" aria-label="Team No: activate to sort column ascending"
                                                            style="width: 220px;">
                                                            SNo
                                                        </th>
                                                        <th width="10%" class="sorting" tabindex="0" aria-controls="exampledatatable" rowspan="1"
                                                            colspan="1" aria-label="Category: activate to sort column ascending"
                                                            style="width: 220px;">
                                                            Date
                                                        </th>
                                                        <th width="10%" class="sorting" tabindex="0" aria-controls="exampledatatable" rowspan="1"
                                                            colspan="1" aria-label="Zone Number: activate to sort column ascending"
                                                            style="width: 220px;">
                                                            Total Amount
                                                        </th>
                                                        <th width="5%" class="sorting" tabindex="0" aria-controls="exampledatatable" rowspan="1"
                                                            colspan="1" aria-label="Location: activate to sort column ascending"
                                                            style="width: 117px;">
                                                            Status
                                                        </th>
                                                        <th width="10%" class="sorting" tabindex="0" aria-controls="exampledatatable" rowspan="1"
                                                            colspan="1" aria-label="Area: activate to sort column ascending" style="width: 221px;">
                                                            SAP Order No
                                                        </th>
                                                        
                                                    </tr>
                                                    
                                                </thead>
                                                <tbody>

                                                    <tr role="row" class="odd">
                                                        <td nowrap="" class="hiddendata">
                                                            <a href="#"><i class="bi bi-pencil-fill"></i></a>&nbsp;&nbsp;
                                                            <a href="#">
                                                                <i class="fa fa-flag" title="Review"></i>
                                                            </a>
                                                            <a href="#"><i class="bi bi-trash-fill"></i></a>
                                                        </td>
                                                        <td class="Edit_TeamNo">
                                                            1
                                                        </td>
                                                        <td class="Edit_Category">
                                                            23/03/2022
                                                        </td>

                                                        <td class="Edit_Zone">
                                                            500000
                                                        </td>
                                                        <td class="Edit_Location">
                                                            Pending
                                                        </td>
                                                        <td class="Edit_Area">
                                                            L2 POREBA 26-205
                                                        </td>

                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td nowrap="" class="hiddendata">
                                                            <a href="#"><i class="bi bi-pencil-fill"></i></a>&nbsp;&nbsp;
                                                            <a href="#">
                                                                <i class="fa fa-flag" title="Review"></i>
                                                            </a>
                                                            <a href="#"><i class="bi bi-trash-fill"></i></a>

                                                        </td>
                                                        <td class="Edit_TeamNo">
                                                            2
                                                        </td>
                                                        <td class="Edit_Category">
                                                            23/03/2022
                                                        </td>

                                                        <td class="Edit_Zone">
                                                            500000
                                                        </td>
                                                        <td class="Edit_Location">
                                                            Complete
                                                        </td>
                                                        <td class="Edit_Area">
                                                            L2 POREBA 26-205
                                                        </td>

                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td nowrap="" class="hiddendata">
                                                            <a href="#"><i class="bi bi-pencil-fill"></i></a>&nbsp;&nbsp;
                                                            <a href="#">
                                                                <i class="fa fa-flag" title="Review"></i>
                                                            </a>
                                                            <a href="#"><i class="bi bi-trash-fill"></i></a>

                                                        </td>
                                                        <td class="Edit_TeamNo">
                                                            3
                                                        </td>
                                                        <td class="Edit_Category">
                                                            23/03/2022
                                                        </td>

                                                        <td class="Edit_Zone">
                                                            500000
                                                        </td>
                                                        <td class="Edit_Location">
                                                            Pending
                                                        </td>
                                                        <td class="Edit_Area">
                                                            L2 POREBA 26-205
                                                        </td>

                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td nowrap="" class="hiddendata">
                                                            <a href="#"><i class="bi bi-pencil-fill"></i></a>&nbsp;&nbsp;
                                                            <a href="#">
                                                                <i class="fa fa-flag" title="Review"></i>
                                                            </a>
                                                            <a href="#"><i class="bi bi-trash-fill"></i></a>

                                                        </td>
                                                        <td class="Edit_TeamNo">
                                                            4
                                                        </td>
                                                        <td class="Edit_Category">
                                                            23/03/2022
                                                        </td>

                                                        <td class="Edit_Zone">
                                                            500000
                                                        </td>
                                                        <td class="Edit_Location">
                                                            Pending
                                                        </td>
                                                        <td class="Edit_Area">
                                                            L2 POREBA 26-205
                                                        </td>

                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td nowrap="" class="hiddendata">
                                                            <a href="#"><i class="bi bi-pencil-fill"></i></a>&nbsp;&nbsp;
                                                            <a href="#">
                                                                <i class="fa fa-flag" title="Review"></i>
                                                            </a>
                                                            <a href="#"><i class="bi bi-trash-fill"></i></a>

                                                        </td>
                                                        <td class="Edit_TeamNo">
                                                            5
                                                        </td>
                                                        <td class="Edit_Category">
                                                            23/03/2022
                                                        </td>

                                                        <td class="Edit_Zone">
                                                            500000
                                                        </td>
                                                        <td class="Edit_Location">
                                                            Pending
                                                        </td>
                                                        <td class="Edit_Area">
                                                            L2 POREBA 26-205
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="divManage" style="display: none;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </section>

</main><!-- End #main -->